<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <ul>
            <% cars.forEach((car) => { %>
                <li>
                    <%= car.make %>,
                    <%= car.model %>,
                    <%= car.year %>,
                    <%= car.origin %>,
                    <%= car.manufacturer %>
                </li>
            <% }) %>
        </ul>
    </body>
</html>