<html>
    <head>
        <title>Car Details</title>
        <link rel="stylesheet" href="/styles/details.css">
    </head>
    <body>
        <div class="card">
            <h2>Car Details</h2>
            <ul>
              <li><span>Make:</span> <%= car.make %></li>
              <li><span>Model:</span> <%= car.model %></li>
              <li><span>Year:</span> <%= car.year %></li>
              <li><span>Origin:</span> <%= car.origin %></li>
              <li><span>Manufacturer:</span> <%= car.manufacturer %></li>
            </ul>
            <a href="/cars/view/<%= car.manufacturer_id %>">â† Go back</a>
          </div>
    </body>
</html>