<html>
    <head>
        <title>View cars</title>
    </head>
    <body>
        <ul>
            <li><%= car.make %></li>
            <li><%= car.model %></li>
            <li><%= car.year %></li>
            <li><%= car.origin %></li>
            <li><%= car.manufacturer %></li>
        </ul>
        <a href="/cars/view/<%= car.manufacturer_id %>">Go back</a>
    </body>
</html>