<html>
    <head>
        <title>Edit Car Form</title>
    </head>
    <body>
        <h2><%= title %></h2>
        <%- include("../partials/errors"); %>
        <form method="POST" action="/cars/edit-car/<%= car.id %>">
            <div>
                <label for="make">Make:</label>
                <input name="make" placeholder="make" value="<%= car.make %>" required>
            </div>
            <div>
                <label for="model">Model:</label>
                <input name="model" placeholder="model" value="<%= car.model %>" required>
            </div>
            <div>
                <label for="year">Year:</label>
                <input name="year" placeholder="year" value="<%= car.year %>" required>
            </div>
            <div>
                <label for="origins">Origins:</label>
                <select id="origins" name="origins">
                    <% origins.forEach(originObj => { %>
                        <option value="<%= originObj.origin %>">
                            <%= originObj.origin %>
                        </option>
                    <% }) %>  
                </select>
            </div>
            <div>
                <label for="manufacturers">Manufacturers:</label>
                <select id="manufacturers" name="manufacturers">
                    <% manufacturers.forEach(manufacturerObj => { %>
                        <option value="<%= manufacturerObj.manufacturer %>">
                            <%= manufacturerObj.manufacturer %>
                        </option>
                    <% }) %>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/cars/view/<%= car.manufacturer_id %>">Go back</a>
    </body>
</html>